[submodule "vendor/github.com/google/go-github"]
	path = vendor/github.com/google/go-github
	url = https://github.com/google/go-github
[submodule "vendor/github.com/google/go-querystring"]
	path = vendor/github.com/google/go-querystring
	url = https://github.com/google/go-querystring
[submodule "vendor/github.com/atotto/clipboard"]
	path = vendor/github.com/atotto/clipboard
	url = https://github.com/atotto/clipboard
[submodule "vendor/github.com/VonC/godbg"]
	path = vendor/github.com/VonC/godbg
	url = https://github.com/VonC/godbg
