[submodule "deps/src/github.com/google/go-github"]
	path = deps/src/github.com/google/go-github
	url = https://github.com/google/go-github
[submodule "deps/src/github.com/google/go-querystring"]
	path = deps/src/github.com/google/go-querystring
	url = https://github.com/google/go-querystring
[submodule "deps/src/github.com/atotto/clipboard"]
	path = deps/src/github.com/atotto/clipboard
	url = https://github.com/atotto/clipboard
[submodule "deps/src/github.com/VonC/godbg"]
	path = deps/src/github.com/VonC/godbg
	url = https://github.com/VonC/godbg
